.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.password-strength {
  display: flex;
  flex-direction: column;
  width: 300px;
}

ul {
  display: inline-block;
  text-align: left;
}